:root {
    /* --primary-color: #059c99; */
    --primary-color: #02b5b1;
    --secondary-color: #018582;
    --font-size0:50px;
    --font-size1:25px;
    --font-size2:18px;
    --font-size3:16px;
    --text-color:#000000;
}
*{padding: 0;margin: 0;}
a{text-decoration: none;}
/* Back Ground Animation */
#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* JGK_portfolio */
.HoleBody{cursor: url('/mouse5.png'),auto;}

/* MouseAnimation */
.custom_cursor {
  position: absolute;
  height:50px;width: 50px;
  pointer-events: none;z-index: 999999;
  border: 1px solid var(--primary-color);border-radius: 50px;
  display:flex;justify-content: center;align-items: center;
}
.dot_cursor{
  height: 5px;width: 5px;
  border-radius: 50px;background-color: var(--secondary-color);
}



/* Nav Bar */
.Navbar{
  height: 60px;width: calc(100% - 40px);
  padding: 0px 20px;
  backdrop-filter: blur(5px);
  display: flex;justify-content: space-between;align-items: center;
  position: fixed;top: 0;
  z-index: 9999;
}
.MyName{
  font-size: var(--font-size1);color: var(--secondary-color);font-weight: bolder;
}
.MenuItemsList{
  height: 100%;width: fit-content;
  display: flex;justify-content: center;align-items: center;gap: 20px;
}
.MenuItemsList a{
  height: 100%;
  text-decoration: none;
}
.MenuItem{
  height: 100%;width:fit-content;
  padding: 0px 5px;
  color: var(--primary-color);
  /* background-color: red; */
  display: flex;justify-content: center;align-items: center;
  font-size: var(--font-size2);font-weight: 600;
  cursor: pointer;transition: transform .5s;
}
.MenuItem:hover{transform: scale(1.08);color: var(--secondary-color);}


.MenuItemsList_Phone_Icon{
  /* position: absolute;right:40px;top: 15px; */
  display: none;
}
.MenuItemsList_Phone{
  position: absolute;right:-230px;top: 60px;
  padding: 10px 10px;
  height: fit-content;width: 100px;
  backdrop-filter: blur(5px);border-radius: 0 0 0 10px;
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
}

.MenuItem_Phone{
  height: fit-content;width:fit-content;
  padding: 2px 5px;margin-bottom: 20px;
  color: var(--primary-color);
  font-size: var(--font-size2);
  cursor: pointer;transition: transform .5s;
}
.MenuItem_Phone:hover{transform: scale(1.08);color: var(--secondary-color);font-weight: bold;}
.Animation1{
 animation: sideBarShow 1s forwards;
}
@keyframes sideBarShow {
  0% {
    right: -230;
  }
  100% {
    right: 0;

  }
}















/* Home Page */
.HomePage{
  height: 100svh;
  width: calc(100% - 60px);
  padding: 0 30px;
  display: flex;justify-content: space-between;align-items: center;
  /* background-color: red; */
}
.HomePage_Contant{
  height: fit-content;width: 70%;
  display: flex;flex-direction:column;gap: 30px;
  padding: 20px 0;
  /* background-color: green; */
}

.HomePage_Contant_N{
  font-size: var(--font-size0);
}
.HomePage_Contant_Name{color: var(--secondary-color);}

.wrapper{
  display: flex;
  height: fit-content;width: fit-content;
  /* background-color: red; */
}
.wrapper .static-txt{
  height: fit-content;
  color: var(--text-color);
  font-size:  var(--font-size0);
  /* background-color: yellow; */
}
.wrapper .dynamic-txts{
  /* font-size + 10px need to add =>  height,line-height */
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  margin: 0;
  padding: 0 10px;
  /* background-color: green; */
}
.dynamic-txts .liTag{
  list-style: none;
  color: var(--primary-color);
  font-size:  var(--font-size0);
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    /* height * 4 for 4 sentences*/
    top: -240px;
  }
}
.dynamic-txts .liTag .spanTag{
  position: relative;
}
.dynamic-txts .liTag .spanTag::after{
  content: "";
  position: absolute;left: 0;top: 0;
  height: 100%;width: 100%;
  background: white;
  border-left: 2px solid var(--primary-color);
  animation: typing 3s steps(10) infinite;

}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 5px);
  }
  100%{
    left: 0;
  }
}
.HomePage_Contant_Matter{
  font-size: var(--font-size1);
  text-shadow: 0px 0px 1px var(--primary-color);
}
.HomePage_Contant_Buttons{
  height: fit-content;width: fit-content;
  display: flex;justify-content: center;align-items: center;gap: 20px;
  cursor: pointer;
}
.HomePage_Contant_Button1{
  font-size: var(--font-size2);font-weight: 700;
  padding: 10px;
  border-radius: 10px;border: 2px solid var(--primary-color);
  backdrop-filter: blur(5px);color: var(--primary-color);
  transition: all 1s;
}
.HomePage_Contant_Button1:hover{box-shadow: 2px 2px 5px var(--primary-color);transform: scale(1.08);}
.HomePage_Contant_Button2{
  font-size: var(--font-size2);font-weight: 700;
  padding: 10px;
  border-radius: 10px;border: 2px solid var(--primary-color);
  background-color: var(--primary-color);color: white;
  transition: all 1s; 
}
.HomePage_Contant_Button2:hover{transform: scale(1.08);}
.HomePage_Image{
  height: 450px;width: 400px;
  /* background-color: rgb(7, 241, 7); */
}
.HomePage_Image-1{
  height: 100%;width: 100%;
  filter: drop-shadow(5px 5px 5px #313131);
}















/* About Page */
.AboutPage{
  /* min-height: 90svh; */
  height: fit-content;
  width: calc(100% - 60px);
  padding: 70px 30px 50px;
  display: flex;justify-content: space-between;align-items: start;

 /* display: flex;flex-direction: column;gap: 30px; */
  /* background-color: red; */
}
.AboutPage_part1{
 height: fit-content;width: 48%;
 /* width: 98%; */
 font-size: var(--font-size2);
 /* text-shadow: 0px 0px 1px black; */
 display: flex;flex-direction: column;gap: 30px;
 /* background-color: gold; */
}
.SideHeading{
margin-bottom: 20px;
}
.SideHeading_highLet{
  color: var(--primary-color);font-weight: bold;
  text-decoration: underline;text-shadow: 0px 0px 1px black;
}
.AboutPage_part1_MySelf_Matter{
  padding-left: 10px;
}
.AboutPage_part1_ProfessionalProfiles_Icons{
  display: flex;justify-content:start;align-items: center;gap: 30px;
}
.For_Icons{
  color: var(--text-color);font-size: 14px;text-align: center;
  transition: all 1s;
  /* background-color: red; */
}
.For_Icons:hover{
  transform: scale(1.1);
}
.AboutPage_part2{
  height: fit-content;width: 48%;
 /* width: 98%; */

  font-size: var(--font-size2);
  /* text-shadow: 0px 0px 1px black; */
  display: flex;flex-direction: column;gap: 30px;
  /* background-color: red; */
}
.List_of_My_Expertise{
  width: 100%;
  padding-left: 10px;
}
.single_Expertise{
  display: flex;justify-content: start;align-items: start;
  width: 100%;
  /* background-color: green; */
}
.single_Expertise_Heading{
  width: 260px;font-weight: bold;
  /* background-color: red; */
}
.single_Expertise_Contant{
  width: calc(100% - 260px);
}
.AboutPage_part2_WhatiDo table{
  width: 100%;
}
th{
  text-align: left;
  font-size: 16px;

}
td{
  font-size: 16px;
}
.AboutPage_part2_CodingProfiles_Icons{
  display: flex;justify-content: start;align-items: center;gap: 30px;
  /* background-color: red; */
}














/* SkillsPage */
.SkillsPage{
  /* min-height: 75svh; */
  max-height: fit-content;width: calc(100% - 60px);
  padding: 70px 30px 50px;
  /* background-color: rgb(255, 217, 0); */
}
.Skills_Place{
  height: fit-content; width: 100%;
  display: flex;
  justify-content: space-between;align-items: start;
  /* flex-direction: column;gap: 30px; */
  flex-wrap: wrap;row-gap: 100px;
  /* background-color: #fff; */
}
.Skills_Place_part{
  height: fit-content;width: 45%;
  /* background-color: red; */
}
.Skills_Images{
  display: flex;justify-content: start;align-items: center;
  gap: 30px;flex-wrap: wrap;
}
.Skill_Div{
  height: 60px;width: 90%;
  display: flex;gap: 30px;
}
.Skill_Img{
  height: 70px;width: 70px;
  border: 1px solid var(--primary-color);border-radius: 10px;
  padding: 5px;transition: all 1s;
  backdrop-filter: blur(2px);
}
.Skill_Img:hover{transform: scale(1.05);}
.Skill_Content{
  height: calc(100% - 10px); width: calc(100% - 120px);
  /* background-color: rgb(0, 255, 68); */
  border: 1px solid var(--primary-color);border-radius: 10px;
  padding: 5px;
}
.Skill_Content_Matter{
  height: 50%;width: 100%;
  display: flex;justify-content: space-between;align-items: center;
  font-size: var(--font-size1);
}
.Skill_Content_Persentage{
  height: 10px;width: 100%;
  margin: 10px 0;border-radius: 20px;
  background-color: #d8f1ff;
}
.Skill_Content_Persentage_Fill{
  height: 100%;border-radius: 20px;
  background-color: var(--primary-color);
}















/* Projects */
.ProjectsPage{
  height: fit-content;
  width: calc(100% - 60px);
  padding: 70px 30px ;
  /* position: relative; */
  /* background-color: gold; */
}
.Projects_Place{
  height: 90%;
  width: 100%;
  display: flex;justify-content: space-evenly;align-items: center;
  flex-wrap: wrap;gap: 20px;
}
.Project_Div{
  height: fit-content;width: 380px;/* 330px in phone view */
  border: 1.5px solid var(--secondary-color);
  border-radius: 10px;
  overflow: hidden;
  transition: all 1s;
  animation: bounceIn 1.5s ease-in-out forwards;

}
.Project_Div:hover{
  transform:translateY(-10px);
}
.Project_Img{
  height: 180px;width: 100%;
  display: flex;justify-content: center;align-items: center;
  overflow: hidden;

}
.Project_Content{
  height: 80px;width: calc(100% - 20px);
  padding: 10px;position: relative;
  /* background-color: greenyellow; */
  backdrop-filter: blur(3px);
  border-top: 1.5px solid var(--secondary-color);

}
.Project_Name{
  font-size: var(--font-size2);font-weight: bold;
  margin-bottom: 8px;
  text-shadow: 1px 1px 1px var(--primary-color);
}
.Project_More{
  color: var(--primary-color);font-weight: bold;
  position: absolute;bottom: 10px;right: 10px;
  /* background-color: red; */
  display: flex;justify-content: center;align-items: center;
}
.Project_More_Icon{
  padding: 1px 0 0 5px;
}


.ProjectDeatils_Area{
  height: 100svh;
  width: 100%;
  position: fixed;top: 0;left: 0;
  z-index: 99999;
  display: flex;justify-content: center;align-items: center;
  backdrop-filter: blur(5px);
  animation: bounceIn 0.5s ease-in-out forwards;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  25% {
    transform: scale(0.9);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.ProjectDeatils_div{
  max-height: calc(100% - 25px);
  /* height: fit-content; */
  width: 50%;
  padding: 10px;overflow: auto;
  scrollbar-width: none;
  background-color: rgb(255, 255, 255);border: 2px solid var(--secondary-color);border-radius: 15px;
  display: flex;justify-content: center;align-items: center;
  flex-direction:column; gap: 20px;
}

.ProjectDeatils_Head{
  height: 50px;width: 100%;
  display: flex;justify-content: space-between;align-items: center;
  /* background-color: rgb(38, 0, 255); */
}
.ProjectDeatils_Image{
  /* height: 250px; */
  width: 100%;
  aspect-ratio: 2 / 1;
  border-radius: 10px;
  display: flex;justify-content: center;align-items: center;
  overflow: hidden;

}
.ProjectDeatils_Img{
  /* height: fit-content;width: fit-content; */
  height: calc(100% - 2px);width: fit-content;
  border-radius: 10px;border: 1px solid var(--secondary-color);
}
.ProjectDeatils_Content{
  /* height: calc(100% - 80px ); */
  height: fit-content;
  width: 100%;
  /* background-color: green; */
}

.ProjectDeatils_Tech{
  /* height: 50px;width: fit-content; */
  display: flex;justify-content: start;align-items: center;flex-wrap: wrap;
  gap: 20px;
}
.ProjectDeatils_Tech_Name{
  padding: 5px 10px;border-radius: 10px;
  color: var(--primary-color);
  font-weight: 600;
  font-size: var(--font-size3);
  /* background-color: var(--primary-color); */
  border: 1.5px solid var(--secondary-color);
  transition: all 1s;
}
.ProjectDeatils_Tech_Name:hover{box-shadow: 2px 2px 5px var(--primary-color);transform: scale(1.05);}
.ProjectDeatils_Links{
  margin: 10px;
  display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;
  gap: 20px;
}
.ProjectDeatils_Link{
  height: fit-content;width: fit-content;
  padding: 10px;border-radius: 10px;
  color: white;font-weight: bold;
  font-size: var(--font-size2);
  background-color: var(--primary-color);
  position: relative;
  transition: all 1s;
}
.ProjectDeatils_Link:hover{transform: scale(1.05);}















/* CertificatesPage */
.CertificatesPage{
  height: fit-content;width: calc(100% - 60px);
  padding: 70px 30px ;
}
.Certificates_Place{
  display: flex;justify-content: center;align-items: center;flex-wrap: wrap;gap: 20px;
}
.Certificate_div{
  height: 100px;width: 320px;
  padding: 10px;border-radius: 20px;border: 2px solid var(--primary-color);
  display: flex;justify-content: space-between;align-items: start;
  /* background-color: red; */
  backdrop-filter: blur(6px);
  transition: all 1s;
}
.Certificate_div:hover{
  transform:translateY(-10px);
}
.Certificate_Icon{
  /* background-color: var(--primary-color); */
  /* color: var(--secondary-color); */
  color: var(--primary-color);
  padding: 5px 6px;border-radius: 50%;
  transition: all 1s;
}
.Certificate_div:hover .Certificate_Icon{
  transform:scale(1.8);
  text-shadow: 2px 2px 2px var(--secondary-color);
}
.Certificate_Content{
  height: 100%;width: calc(100% - 50px);
  /* background-color: rgb(76, 197, 76); */
  display: flex;justify-content: space-evenly;align-items: start;flex-direction: column;
}
.Certificate_Issuer{font-size: var(--font-size2);}
.Certificate_Name{font-size: var(--font-size1);}
.Certificate_Data{
  width: 100%;
  display: flex;justify-content: space-between;align-items: start;
  /* flex-direction: column;gap: 5px; */
}















/* ContactPage */
.ContactPage{
  height: fit-content;
  width: calc(100% - 60px);
  padding: 70px 30px 50px;
  backdrop-filter: blur(2px);

}
.Contact_Info{
  height: 90%;width: 100%;
  display: flex;justify-content: space-between;align-items: start;
}
.Contact_Info_div{
  height: 86%;width: 46%;
  padding: 4% 0 0 4%;
  display: flex;justify-self: start;align-self: start;
  flex-direction: column;
  gap: 20px;
  /* background-color: red; */
}
.connectHeading{
  font-size: 30px;font-weight: bold;
}
.connectData{
font-size: var(--font-size2);
display: flex;gap: 10px;
color: #000;
text-decoration: none;
width: fit-content;transition: all 1s;
}
.connectData:hover{
  transform: scale(1.05);text-shadow: 2px 2px 2px var(--primary-color);
}
.Contact_Form{
  height: 86%;width: 46%;
  padding: 4% 0 0 4%;
  /* background-color: green; */
}
.Contact_Form_Label{
  font-size: var(--font-size2);
}
.Contact_Form_Input{
  width: 80%;
  padding: 5px;
  font-size: var(--font-size3);
  margin-bottom: 25px;border-radius: 10px;
  border: 2px solid var(--primary-color);
  color: var(--secondary-color);
}
textarea{
  height: 100px;
}
.Contact_Form_Input:focus{
  outline: var(--primary-color);
}
.Contact_Form_Button{
  width: 82%;
  padding: 5px;
  font-size: var(--font-size1);
  background-color: var(--primary-color);color: white;
  border-radius: 10px;border: none;cursor: url('mouse5.png'),auto;
  transition: all 1s;
}
.Contact_Form_Button:hover{
transform: scale(1.05);
box-shadow: 2px 2px 12px var(--secondary-color);
}
















/* media quries */
@media screen and (max-width:1030px) {
  .wrapper .static-txt{
    height: fit-content;
    color: black;
    font-size:  40px;
    /* background-color: yellow; */
  }
  .wrapper .dynamic-txts{
    /* font-size + 10px need to add =>  height,line-height */
    height: 50px;  
    line-height: 50px;
    overflow: hidden;
    margin: 0;
    padding: 0 10px;
    /* background-color: green; */
  }
  .dynamic-txts .liTag{
    list-style: none;
    color: var(--primary-color);
    font-size:  40px;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
    /* height * 4 for 4 sentences*/
      top: -200px;
    }
  }  
  .single_Expertise{flex-direction: column;}
  .single_Expertise_Heading{width: 100%;}
  .single_Expertise_Contant{width: 90%;padding-left: 10%;}
}


@media screen and (max-width:768px) {
/* Nav Bar */
  .Navbar{justify-content: space-between;}
  .MenuItemsList{display: none;}
  .MenuItemsList_Phone_Icon{display: block;}
  .MenuItemsList_Phone{display: block;
  display: flex;flex-direction: column;
  }

/* HomePage */
  .HomePage{
    padding-top: 100px;height: fit-content;
    flex-direction: column;
    justify-content: start;align-items: center;gap: 20px;
    /* background-color: red; */
  }
  .HomePage_Contant{
    width: 100%;height: fit-content;
  }

/* About Page */
  .AboutPage{height: fit-content; flex-direction: column;gap: 30px;width: 100%;}
  .AboutPage_part1{ width: 100%; }
  .AboutPage_part2{ width: 100%; }
  .single_Expertise{flex-direction: row;}
  .single_Expertise_Heading{width: 260px;}
  .single_Expertise_Contant{width: calc(100% - 260px);padding-left: 0;}
}

@media screen and (max-width:600px) {
  .wrapper .static-txt{
    height: fit-content;
    color: black;
    font-size:  30px;
    /* background-color: yellow; */
  }
  .wrapper .dynamic-txts{
    /* font-size + 10px need to add =>  height,line-height */
    height: 40px;  
    line-height: 40px;
    overflow: hidden;
    margin: 0;
    padding: 0 10px;
    /* background-color: green; */
  }
  .dynamic-txts .liTag{
    list-style: none;
    color: var(--primary-color);
    font-size:  30px;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
    /* height * 4 for 4 sentences*/
      top: -160px;
    }
  }
  .HomePage_Contant_Matter{
    font-size: var(--font-size2);
  }
  .single_Expertise{flex-direction: row;}
  .single_Expertise_Heading{width: 260px;}
  .single_Expertise_Contant{width: calc(100% - 260px);padding-left: 0;}
  .Contact_Info{ flex-direction: column;gap: 30px; }
  .Contact_Info_div{width: 96%;}
  .Contact_Form{width: 96%;}
}


@media screen and (max-width:500px) {
  .custom_cursor{display: none;}
  .single_Expertise{flex-direction: column;}
  .single_Expertise_Heading{width: 100%;}
  .single_Expertise_Contant{width: 90%;padding-left: 10%;}
  /* .Skill_Img{display: none;} */
  .Skill_Content{width: 100%;}
  .ProjectDeatils_div{width: 90%;}
}


@media screen and (max-width:450px) {
  .wrapper .static-txt{
    height: fit-content;
    color: black;
    font-size:  25px;
    /* background-color: yellow; */
  }
  .wrapper .dynamic-txts{
    /* font-size + 10px need to add =>  height,line-height */
    height: 30px;  
    line-height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0 10px;
    /* background-color: green; */
  }
  .dynamic-txts .liTag{
    list-style: none;
    color: var(--primary-color);
    font-size:  20px;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
    /* height * 4 for 4 sentences*/
      top: -120px;
    }
  }
  .Skills_Place_part{
    width: 100%;
  }
}


@media screen and (max-width:350px) {
  .wrapper .static-txt{
    height: fit-content;
    color: black;
    font-size:  20px;
    /* background-color: yellow; */
  }
  .wrapper .dynamic-txts{
    /* font-size + 10px need to add =>  height,line-height */
    height: 26px;  
    line-height: 26px;
    overflow: hidden;
    margin: 0;
    padding: 0 10px;
    /* background-color: green; */
  }
  .dynamic-txts .liTag{
    list-style: none;
    color: var(--primary-color);
    font-size:  16px;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
    /* height * 4 for 4 sentences*/
      top: -104px;
    }
  }
  .HomePage_Contant_Matter{font-size: 16px;}
  .HomePage_Contant_Button1{font-size: 16px;}
  .HomePage_Contant_Button2{font-size: 16px;}
  .HomePage_Image{
    height: 350px;width: 300px;
    /* background-color: rgb(7, 241, 7); */
  }
  .AboutPage_part1_MySelf_Matter{font-size: 16px;}
  .Skill_Img{height: 50px;width: 50px;}
}



@media screen and (max-width:320px) {
  .HomePage_Contant_Buttons{
    flex-direction: column;
    /* background-color: red; */
    width: 100%;
  }
  .Project_Img{
    height: 129px;
  }
  .ProjectDeatils_Links{
    margin: 10px 0px;
  }
}
















/* Animations */

/* UnderLine */
.UnderLine{
  position: relative;
}
.UnderLine::after{ 
  content: "";
  position: absolute;bottom: 0;left: 0;
  height: 2px;width: 100%;
  background-color: var(--secondary-color);
  border-radius: 10px;
  transform: scaleX(0);transform-origin: right ;transition: transform .5s;
}
.UnderLine:hover::after{
  transform-origin: left ;transform: scaleX(1);
}


/* shine_white_light */
.shine_white_light{
  position: relative;overflow: hidden;
}
.shine_white_light::after{
  content: "";
  height: 120%;width: 0%; 
  position: absolute;
  top: -15%;
  left: -15%;
  border-radius: 25px; transform: rotate(30deg); box-shadow: 1px 1px 9px 4.5px white;
}
.shine_white_light:hover::after{
  animation: Move_white_light 2s forwards;
}
@keyframes Move_white_light{
  0%{left: -15%;}
  100%{left: 115%;}
}

/* Shadow Animation */
.ShowShadow{transition: all 2s;}
.ShowShadow:hover{filter: drop-shadow(2px 2px 5px var(--primary-color));transform: scale(1.08);}

/* Stop Scrooling  */
.no-scroll {
  overflow: hidden;
  height: 100vh; /* Prevents scrolling */
}
.loading-overlay{
  height: 100%;width: 100%;
  display: flex;justify-content: center;align-items: center;
  color: var(--secondary-color);
}

/* Come From left */
.ComeFromLeft{animation: Come_From_Left 2s forwards;}
@keyframes Come_From_Left {
  0%{
      opacity: 0;
      transform: translateX(-100px);
  }
  100%{
      opacity: 1;
      transform: translateX(0px);

  }
}

/* Come From Right */
.ComeFromRight{animation: Come_From_Right 2s forwards;}
@keyframes Come_From_Right {
  0%{
      opacity: 0;
      transform: translateX(100px);
  }
  100%{
      opacity: 1;
      transform: translateX(0px);

  }
}
/* Come From Top */
.ComeFromTop{animation: Come_From_Top 2s forwards;}
@keyframes Come_From_Top {
  0%{
      opacity: 0;
      transform: translateY(-100px);
  }
  100%{
      opacity: 1;
      transform: translateY(0px);

  }
}

/* Come From Bottom */
.ComeFromBottom{animation: Come_From_Bottom 2s forwards;}
@keyframes Come_From_Bottom {
  0%{
      opacity: 0;
      transform: translateX(100px);
  }
  100%{
      opacity: 1;
      transform: translateX(0px);

  }
}
